
/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


body{
    padding: 0;
    margin: 0;
}
h4{
    font-family: 'Indie Flower', cursive;

}

form{
    max-width: 25em;
    margin: 1em auto;
    background-color: aquamarine;
}

.form-control{
    width: 30%;
   
 }

.form-group {
    text-align: -webkit-center;
}

input.form-control {
    margin: 18px;
}

.input-group-prepend {
    background-color: antiquewhite;
}

a.btn{
    background-color: #ff000054
}

li{
    margin-top: 1rem;
}