@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Merriweather');


.container{
    font-family: 'Kaushan Script', cursive;
    background-image: url(../../assets/list.jpeg);
    padding: 50px;
    object-fit: cover;
}

.jumbotron{
    opacity: 0.9;
    padding: 45px 0;
}

.text-center {
    opacity: 1;
    font-weight: bold;
}

.fa-2x {
    font-size: 2em;
    color: greenyellow;
}


.title-input{
    margin-right: 5px;
}

li{
    background-color: #fff9;
    font-size: 1.5rem;
}

.list-group{
    margin-top: 30px;

}
input.form-control.title-input {
    font-size: 2rem;
}
li.list-group-item {
    border: 1px solid black;
    margin: 4px;
}
span.createdDate {
    color: darkslateblue;
    font-size: 1.2rem;
}

input.form-control.title-input[_ngcontent-c1]{
    font-family: 'Merriweather';

}