@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
.container{
    font-family: 'Kaushan Script', cursive;
    background-image: url(../../assets/list.jpeg);
    padding: 50px;
    object-fit: cover;
}

.jumbotron{
    opacity: 0.7;
}

.text-center {
    opacity: 1;
    font-weight: bold;
}

.fa-2x {
    font-size: 2em;
    color: greenyellow;
}


.title-input{
    margin-right: 5px;
}

li{
    background-color: #fff9;
    font-size: 1.5rem;
}


